.d-block{
    display: block;
}

.d-flex{
    display: flex;
}

.row-reverse{
    flex-direction: row-reverse;
}

.flex-column{
    flex-direction: column;
}

.pb-1{
    padding-bottom: .5em;
}

.pr-1{
    padding-right: .5em;
}