// Colors
$primary:           #6bd098 !default;
$secondary:         #262323 !default;
$info:              #51bcda!default;
$warning:           #fbc658!default;
$error:           #fb5858!default;
$text:              #3a3735!default;
$textPlaceholder:   #a8abb2!default;
$backgroundColor:   #f4f0f0!default;
